In [23]:
import pandas as pd
artists = pd.read_csv("Pollstar_all_genres.csv")

In [24]:
df = artists

In [25]:
df_2013 = df[pd.to_datetime(df['Event Date']).dt.year >= 2013]

In [26]:
len(df)

704712

In [7]:
all_artists = []

In [27]:
for _, row in df_2013.iterrows():
    if not pd.isna(row['Support']):  # Proper way to check for NaN
        artists = [name.strip() for name in str(row['Support']).split(',')]  # Convert to string first
        all_artists.extend(artists)

In [29]:
artists = pd.DataFrame({'artist': list(set(all_artists))}).sort_values('artist').reset_index(drop=True)

In [30]:
artists

                         artist
0
1             !!! (Chk Chk Chk)
2                   !Mindparade
3               "2 Ring Circus"
4      "A Celebration of Taylor
...                         ...
49517                  ¡Mayday!
49518                ¿Qué Pasa?
49519                     ¿Téo?
49520                       Âme
49521             ††† (Crosses)

[49522 rows x 1 columns]

In [ ]:
artists = artists.drop(0).reset_index(drop=True)

In [14]:
artists = artists.drop(0).reset_index(drop=True)

In [16]:
asian_artist_ins = artists

In [17]:
asian_artist_ins.to_csv('asian_artist_ins.csv', index=False)

In [18]:
import requests
import re
from urllib.parse import quote

def get_first_instagram_url(artist_name):
    # Define a list of query formats for different search attempts
    queries = [
        f"{artist_name} Instagram site:instagram.com",
        f"{artist_name} musician Instagram",
        f"{artist_name} official Instagram"
    ]

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.183 Safari/537.36"
    }
    
    for query in queries:
        try:
            google_url = f"https://www.google.com/search?q={quote(query)}"
            response = requests.get(google_url, headers=headers, timeout=10)
            response.raise_for_status()
            
            # Extract the first Instagram URL from the HTML using regex
            match = re.search(r'https://www\.instagram\.com/([a-zA-Z0-9._]+)/?', response.text)
            
            # If we found a match and it's not a common Instagram path
            if match and match.group(1) not in ['p', 'explore', 'accounts']:
                return f"https://www.instagram.com/{match.group(1)}/"
                    
        except requests.RequestException as e:
            print(f"Error fetching results for query '{query}': {str(e)}")
            continue
            
    # Return default message if no valid URL found
    return "Instagram URL not found."

In [20]:
asian_artist_ins['URL'] = asian_artist_ins['artist'].apply(get_first_instagram_url)

Error fetching results for query 'tripleS Instagram site:instagram.com': 429 Client Error: Too Many Requests for url: https://www.google.com/sorry/index?continue=https://www.google.com/search%3Fq%3DtripleS%2520Instagram%2520site%253Ainstagram.com&q=EhAmB_AQAukAIxkR1QJZFh7eGOvYpLkGIjD7wH1MLIV1MBovO6Tnyaqo6H7XwxGxH_GCdc8eNSko81PztwnsmmYZOAopE4nt_4gyAXJaAUM
Error fetching results for query 'tripleS musician Instagram': 429 Client Error: Too Many Requests for url: https://www.google.com/sorry/index?continue=https://www.google.com/search%3Fq%3DtripleS%2520musician%2520Instagram&q=EhAmB_AQAukAIxkR1QJZFh7eGOzYpLkGIjA9GlntqbWOtoVje2zUDJKE5h5sOlnsVPCPV5cEV10Y9vJDXYG2wjbFyT8aqTfUmUUyAXJaAUM
Error fetching results for query 'tripleS official Instagram': 429 Client Error: Too Many Requests for url: https://www.google.com/sorry/index?continue=https://www.google.com/search%3Fq%3DtripleS%2520official%2520Instagram&q=EhAmB_AQAukAIxkR1QJZFh7eGO3YpLkGIjCEwobSuj3iybJE-VDQo1R63GA6JWBbO6dBpMoueFfJbezYgFs90fmf4Vck_ljZsTAyAXJaAUM

In [22]:
asian_artist_ins.to_csv('asian_artist_ins.csv', index=False)